<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
<style>
.flex-container{
	width: 80%;
	min-height: 300px;
	margin: 0 auto;
	display: -webkit-flex; /* Safari */		
	display: flex; /* Standard syntax */
}
.flex-container .column{
	padding: 10px;
	background: #dbdfe5;
	-webkit-flex: 1; /* Safari */
	-ms-flex: 1; /* IE 10 */
	flex: 1; /* Standard syntax */
}
.flex-container .column.bg-alt{
	background: #b4bac0;
}
</style>
</h:head>

<h:body>
	<h:form>
		<h:inputHidden value="#{carLocation.some}"></h:inputHidden>
		<div id="page">
			<div id="content-container"  class="flex-container">
				<div id="locations"  class="column">
					<ui:insert name="content">
						<ui:include src="locations.xhtml" />
					</ui:insert>
				</div>
				<div id="cars" class="column">
					<ui:insert name="rightnav">
						<ui:include src="cars.xhtml" />
					</ui:insert>
				</div>
				<div class=""></div>
			</div>
		</div>
	</h:form>
</h:body>
</html>