<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<h:form>
	<p>
		<h:outputText value="Seite B"></h:outputText>
	</p>
	<p>
		<h:commandButton value="Next" action="#{pageB.next()}"></h:commandButton>
		<h:commandButton value="Previous" action="#{pageB.previous()}"></h:commandButton>
	</p>
	</h:form>
</h:body>
</html>
