<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<h2>Fahrzeuge</h2>
	<ul id="carList">
		<ui:repeat value="#{cars.cars}" var="car" border="1" cellspacing="5">
			<li><h:outputFormat value="Fabrikat : {0}, Model : {1}">
					<f:param value="#{car.brand}" />
					<f:param value="#{car.model}" />
				</h:outputFormat></li>

		</ui:repeat>
	</ul>
</h:body>
</html>
