<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not (.active ) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}
</style>
</head>
<body>
	<ul>
		<li><a href="cars.xhtml">Autos</a></li>
		<li><a href="locations.xhtml">Filialen</a></li>
		<li><a href="#contact">Contact</a></li>
		<li style="float: right"><a class="active" href="#about">About</a></li>


	</ul>
	<div>
		<p>
			Die Uhrzeit ist:
			<h:outputText value="#{demoBean.time}"></h:outputText>
		</p>
		<div>
		<!-- for (String inf : infos) -->
			<ui:repeat var="inf" value="#{demoBean.infos}">
				<p><h:outputText value="#{inf}"></h:outputText> </p>
			</ui:repeat>
		</div>
	</div>
</body>
</html>
