<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<style>
.content_container {
	width: 80%;
	min-heigth: 300px;
	margin: 0 auto;
	display: flex;
}

.component {
	padding: 10px;
	background: #dbdfe5;
	flex: 1;
	-ms-flex: 1; /*IE*/
}
</style>
</h:head>

<h:body>
	<h:form>
		<h:inputHidden value="#{compositeBean.status}"/>
		<div id="page" class="content_container">
			<div id="left" class="component">
				<ui:include src="left.xhtml"></ui:include>
			</div>
			<div id="right" class="component">
				<ui:include src="right.xhtml"></ui:include>
			</div>
		</div>
	</h:form>
</h:body>
</html>
