<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>
	<h2>Infos</h2>
	<ul>
		<ui:repeat value="#{left.infos}" var="info">
			<li><h:commandLink value="#{info}" action="#{left.selected(info)}"></h:commandLink></li>

		</ui:repeat>
	</ul>
</f:view>
</html>
