<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>
	<h2>Filialen</h2>
	<ul>
		<ui:repeat value="#{locations.locations}" var="location" border="1" cellspacing="5">
			<li><h:outputFormat value="Ort : {0}">
					<f:param value="#{location.name}" />
				</h:outputFormat></li>

		</ui:repeat>
	</ul>
</f:view>
</html>
